/*fuente para las letras de la heladeria*/
@font-face {
  font-family: 'fuente-heladeria';
  src: url(../assets/fonts/Yuji_Hentaigana_Akari/YujiHentaiganaAkari-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1{
  font-family:fuente-heladeria;
  color:rgb(129, 102, 227);
  text-align: center;
  font-size:xx-large;
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(55, 151, 210);
}
/*especificaciones para el tituloPrincipal*/
.tituloPrincipal{
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(55, 151, 210);
  font-size: large;
  font-weight: 800;
}

body {
  background-image: url(../assets/img/img2_background.jpeg);
  }
/* Estilos para el icono de WhatsApp no logre que se moviera con la pantalla */
.whatsap {
  position: absolute; /* Posición absoluta */
  bottom: 15px; /* Distancia desde la parte inferior de la ventana */
  right: 10px; /* Distancia desde la parte derecha de la ventana */
}
/* Estilos para el icono de WhatsApp (imagen) */
.whatsap .contacto {
  width: 50px; /* Ancho del icono de WhatsApp */
  height: auto; /* Altura automática para mantener la proporción */
}
/*agregamos caracteristicas al conernedor del navegador*/
  .contenedorNav{
    background-color: rgb(232, 187, 220);
    height: 60px;
    .logo{
        margin-top:1px;
        margin-left:1px;
        width: 40px;
    }
    /*posicionamos el menu del navegador*/
    .nav-con{
      position:absolute;
      left:850px;
      top: 30px
    }
    .listaNav{
        list-style: none; 
        text-align: right;        
        .listaItem{
            display:inline-block;
            
            .linkNav{
                text-decoration: none;
                color: #6f3a92;
                font-size: 1.2rem;
                padding-right: 10px ;
                padding-bottom: 10px;
                margin: 0;
            }
        }
    }
}

.tarjetasIndex{
  width:94%;
  margin:0 auto;
  text-align: center;
  padding-bottom: 10px;
  .tarjeta{
      padding-top: 5px;
      margin-top: 10px;
      margin-left:100px;
      margin-right: 100px;
      display:inline-block;
      background-color: rgb(232, 187, 220);
      width: 300px;
      height:220px;
  }
}

/*contenedor iconos*/
.contenedorIconos{
  .logo{
    margin-top:1px;
    margin-left:1px;
    width: 40px;
  }
}
.contenedorContacto{
  display:inline-block;
  margin-top: 20px;
  .contenedorLogo{
    margin-right: 1050px;
  }
}
/*modifica los contenedores de los sabores*/
.contenedorGustos{
  width:94%;
  margin:0 auto;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Young Serif', serif; 
    .crema{
    background-image: url(../assets/img/img6_background_crema.jpeg);
    width: 300px;
    height: 400px;   
    display:inline-block; 
    margin-top: 10px;
    .tituloHelados{
      color: aqua;      
    }      
    .contenedorLista{      
      .listaGustos{
        list-style: none; 
        text-align: center;
      }
    } 
  }
    .agua{
      background-image: url(../assets/img/img4_background_agua.jpeg);
      width: 300px;
      height: 400px;
      display:inline-block;
      margin-top: 10px;
      .tituloHelados{
        color: aqua;      
      }      
      .contenedorLista{        
        .listaGustos{
          list-style: none; 
          text-align: center;
        }
      }
    }
      .saborEspecial{
        background-image: url(../assets/img/img3_background_especiales.jpeg);
        width: 300px;
        height: 400px;
        display:inline-block;
        margin-top: 10px;
        .tituloHelados{
          color: aqua;      
        }      
        .contenedorLista{        
          .listaGustos{
            list-style: none; 
            text-align: center;
          }
        }
      }
        .fruta{
          background-image: url(../assets/img/img5_background_fruta.jpeg);
          width: 300px;
          height: 400px;
          display:inline-block;
          margin-top: 10px;
          .tituloHelados{
            color: aqua;      
          }      
          .contenedorLista{        
            .listaGustos{
              list-style: none; 
              text-align: center;
            }
          }
        }    
}
/*damos formato a los contenedores de las promociones*/
.promociones{
  width:94%;
  margin:0 auto;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Young Serif', serif; 
    .promo1{
    background-image: url(../assets/img/img6_background_crema.jpeg);
    width: 300px;
    height: 200px;   
    display:inline-block; 
    margin-top: 10px;
    }
    .promo1{
      background-image: url(../assets/img/img7_background_especiales.jpeg);
      width: 300px;
      height: 200px;   
      display:inline-block; 
      margin-top: 10px;
      }
    .promo2{
      background-image: url(../assets/img/img3_background_especiales.jpeg);
      width: 300px;
      height: 200px;   
      display:inline-block; 
      margin-top: 10px;
      }
    .promo3{
      background-image: url(../assets/img/img4_background_agua.jpeg);
      width: 300px;
      height: 200px;   
      display:inline-block; 
      margin-top: 10px;
      }
    .promo4{
      background-image: url(../assets/img/img5_background_fruta.jpeg);
      width: 300px;
      height: 200px;   
      display:inline-block; 
      margin-top: 10px;
      }
    .promo5{
      background-image: url(../assets/img/img6_background_crema.jpeg);
      width: 300px;
      height: 200px;   
      display:inline-block; 
      margin-top: 10px;
      }
    .promo6{
      background-image: url(../assets/img/img_background.jpeg);
      width: 300px;
      height: 200px;   
      display:inline-block; 
      margin-top: 10px;
      }
  }
.promociones p{
  color: #aef051;  
}
/*damos formato a los contenedores de contacto*/
/*la idea era alinear al mismo nivel el formulario y el mapa pero no pude lograrlo*/
.formulario{
  width: min(60rem, 100%);/*compara entre los dos valores y utiliza el de menor tamaño*/
  margin: 0;
  padding-top: 20px;
}
.formulario fieldset{
  border: none;
}
.formulario legend{  
  margin-bottom: 1rem;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  font-weight: 700;
  color: rgb(55, 151, 210);
}
.formulario label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  color: rgb(55, 151, 210);
}
.contacto{
  margin-top: 20px;
}
/*centramos el video con nuestro trabajo*/
.trabajo{
  margin-top: 3rem;
  margin-left: auto; 
  margin-right: auto; 
  text-align: center; 
}








