@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "fuente-heladeria";
  src: url(../assets/fonts/Yuji_Hentaigana_Akari/YujiHentaiganaAkari-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(to top, #8166e3, #a172df, #ba80db, #cd90d9, #dba2d9, #dfb0df, #e4bee4, #e8cce9, #ead9f0, #eee5f6, #f4f1f9, #fcfcfc);
}

/*fuente para las letras de la heladeria*/
h1 {
  font-family: fuente-heladeria;
  color: rgb(129, 102, 227);
}

.decorado, p, label, button, h2 {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(172, 136, 190);
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

p, label, button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  font-weight: 800;
}

.whatsap {
  position: fixed; /* Posición absoluta */
  bottom: 15px; /* Distancia desde la parte inferior de la ventana */
  right: 10px; /* Distancia desde la parte derecha de la ventana */
}

/* Estilos para el icono de WhatsApp (imagen) */
.contacto {
  width: 50px; /* Ancho del icono de WhatsApp */
  height: auto; /* Altura automática para mantener la proporción */
}

/*contenedor iconos*/
.contenedorIconos {
  text-align: center;
}
.contenedorIconos .logo {
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
}
.contenedorIconos .contenedorContacto {
  text-align: right;
}

/*agregamos caracteristicas al conernedor del navegador*/
.contenedorNav {
  background-color: rgb(232, 187, 220);
}
.contenedorNav .logo {
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
}

.navbar-light .navbar-nav .nav-link.active.colorNav {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(129, 102, 227);
  font-size: large;
  font-weight: 800;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(93, 54, 237);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*damos formato al footer*/
.footer {
  border: 1px;
  color: rgb(129, 102, 227);
}
.footer .contenedorContacto {
  display: inline-block;
  margin-top: 20px;
}
.footer .contenedorContacto .contenedorLogo {
  margin-right: 1050px;
}

/*Tarjetas*/
.tarjetasIndex {
  text-align: center;
  text-decoration: none;
}

.tarjeta {
  transition: transform 0.5s;
}

.tarjeta:hover {
  transform: scale(1.5);
}

/*modifica los contenedores de los sabores*/
.saborFormato {
  width: 18rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(172, 136, 190);
  font-size: x-large;
  font-weight: 800;
  margin: 5px;
  text-align: center;
}
.saborFormato .lista {
  list-style: none;
}

.crema {
  background-image: linear-gradient(to bottom, rgba(227, 217, 237, 0.4), rgba(189, 166, 208, 0.8)), url(../assets/img/img6_background_crema.jpeg);
}

.agua {
  background-image: linear-gradient(to bottom, rgba(227, 217, 237, 0.4), rgba(189, 166, 208, 0.8)), url(../assets/img/img4_background_agua.jpeg);
}

.especial {
  background-image: linear-gradient(to bottom, rgba(227, 217, 237, 0.4), rgba(189, 166, 208, 0.8)), url(../assets/img/img3_background_especiales.jpeg);
}

.frutal {
  background-image: linear-gradient(to bottom, rgba(227, 217, 237, 0.4), rgba(189, 166, 208, 0.8)), url(../assets/img/img5_background_fruta.jpeg);
}

.spaceOutLeft {
  -webkit-animation-name: spaceOutLeft;
  animation-name: spaceOutLeft;
}

@-webkit-keyframes spaceOutLeft {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale(0.2) translate(-200%, 0%);
    transform: scale(0.2) translate(-200%, 0%);
  }
}
@keyframes spaceOutLeft {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale(0.2) translate(-200%, 0%);
    transform: scale(0.2) translate(-200%, 0%);
  }
}
/*damos formato a los contenedores de las promociones*/
.imagen {
  width: 300px;
  height: 400px;
}

.contacto {
  margin-top: 20px;
}

.btn-color {
  background-color: rgb(129, 102, 227);
  border: rgb(93, 54, 237);
}

.btn-color:hover {
  background-color: rgb(93, 54, 237);
}

/*# sourceMappingURL=estilos.css.map */
