.contacto{
    margin-top: 20px;
}
.btn-color{
    background-color: map-get($colores , color-primario );
    border:map-get($colores , color-borde ) ;
}
.btn-color:hover{
    background-color:map-get($colores , color-borde ) ;
}