/*damos formato al footer*/
.footer{
    border: 0px;
    color: map-get($colores , color-primario );
    .contenedorContacto{
        display:inline-block;
        margin-top: 40px;
        .contenedorLogo{
            margin-right: 0px;
        }
    }
}
