.seccionPrincipalIndex {
    position:sticky;
    z-index: 1;
}
/*Tarjetas*/
.tarjetasIndex{
    position: sticky;
    text-align: center;
    text-decoration: none;
    overflow: hidden; 
    z-index: 2; /* Asegura que la tarjeta esté por encima del contenedor */  
}
.tarjeta {
    transition: transform 0.5s;
    position: relative;
}

.tarjeta:hover{
    transform: scale(1.5); 
}