$color-primario:rgb(129, 102, 227);
$color-secundario:rgb(172, 136, 190);
$color-terciario:rgb(232, 187, 220);
$color-relleno:rgb(0, 0, 0);
$tamano-relleno: 1px;
$fuente-h2:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuente-p:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fuente-nav:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$colores:(
    color-primario:rgb(129, 102, 227),
    color-secundario:rgb(172, 136, 190),
    color-terciario:rgb(232, 187, 220),
    color-relleno:rgb(0, 0, 0)
);